<div class="d-flex flex-row justify-content-around align-items-center">
    <div class="table-data-options" (click)="showDetails(id)">
        <fa-icon [icon]="faEye"></fa-icon>
    </div>
    <div class="table-data-options" (click)="editDetails(id)">
        <fa-icon [icon]="faPencil"></fa-icon>
    </div>
    <div class="table-data-options" (click)="deleteItem(id)">
        <fa-icon [icon]="faTrash"></fa-icon>
    </div>
</div>

<div class="modal fade" id="shdetModal" tabindex="-1" aria-labelledby="shdetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shdetModalLabel">Show</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>