#fab__container {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 100px;
  z-index: 999999999;
}

#fab__container > div {
  position: relative;
}

#fab__container a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #5161ce;
  text-align: center;
  color: #fff;
  line-height: 50px;
  position: absolute;
  border-radius: 50% 50%;
  bottom: 0px;
  right: 0px;
  border: 5px solid #b2bedc;
  opacity: 1;
  transition: all 0.4s;
}

#fab__container:hover a {
  cursor: pointer;
  transform: scale(1.321);
}
