.table-hover .table-data {
    transition: all 0.16s ease-in-out !important;
}

table .table-data:hover {
    background-color: rgba(161, 158, 158, 0.432);
}

td,
tr {
    text-align: center;
}

th {
    text-align: center;
}

.bold {
    font-weight: bold !important;
}

.inlineForce {
    display: inline-block !important;
}